#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;

}
#main-navbar {
    background-color:rgb(43, 43, 169);;
}

/* navbar media function  */
#navbar .option{
    width: 1.9%;
    display: none;
    margin-right: 10px;
}
#navbar div input[type='image'] {
    width: 100%;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
#second-navbar li {
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    font-family: Roboto;
    border-bottom: 1px solid white;
}
#second-navbar {
    padding-bottom: 10px;
}

.logo {
    margin-left: 20px;
}
#header-nav {
    display: flex;
    justify-content: space-between;
}

.first-level {
    display: flex;
    justify-content: space-between;
}
.list {
    margin-right: 20px;
    font-size: 1rem;
    color: white;
    font-family: Roboto;
    cursor: pointer;
}
li {
    list-style: none;
}
.down {
    display: none;
}

.list:hover .down {
    display: block;
    align-items: center;
}

#search {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.directory {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    z-index: 0;
}
button {
    border: 0px;
    
}
#search-bar {
    display: flex;
    width: 30%;
    padding: 8px 2px 8px 5px;
    margin-right: 10px;
    z-index: 0;
}
#search-bar input {
    width: 100%;
    box-sizing: content-box;
    border: 1px solid gray;
    margin-right: 10px;
    border-radius: 10px;
   
}


#search-bar button {
    width: 10%;
    position: relative;
    left: 90%;
}

button>img {
    width: 80%;
    border: 50%;
    align-items: center;
}

.discover-content h1 {
    font-family: Pacifico;
    text-align: center;
    font-size: 5rem;
}
.slide-show {
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
}
#slide_show_image {
    width: 100%;
    

}

#left-btn {
    transform: rotateY(180deg);
    width: 7%;
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    opacity: 0.4;
}
#right-btn {
    width: 7%;
    position: absolute;
    top: 50%; 
    right: 10px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    opacity: 0.4; 
}
.text-content {
    width: 90%;
    margin: auto;
}
.text-content>p:nth-child(1) {
    margin-top: 20px;
    color: rgb(36, 36, 192);
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.text-content>p {
    width: 85%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    color: gray;

    margin-bottom: 30px;
}

.social-content {
    display: flex;
    width: 15%;
    height: 20%;
    margin: auto;
}
.social-content>a>input {
    width: 90%;
    margin-right: 10px;
}
.social-content>a>input>img {
    width: 100%;
}
.headline {
    font-family: Roboto;
    padding-top: 1.5rem;
    color: rgb(36, 36, 192);
    font-weight: bold;
}
#album-boxes {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 2.3rem;
 
}

.album-box {
    width: 35%;
    text-align: center;
    font-family: Roboto;
    background-color: white;
    border: 1px solid aquamarine;
    color: gray;
}
.album-box img {
    width: 100%;
    height: 50%;
}
.album-box h2 {
    color: rgb(30, 200, 200);
}
.album-box p {
    width: 90%;
    margin: auto;
    padding-bottom: 2.5rem;
}

.album-box1 {
    width: 100%;
    display: flex;
    width: 100%;
    background-color: white;
    font-family: Roboto;
    margin-left: 20px;
    border: 1px solid aquamarine;
    text-align: center;
    color: gray;
}

.content-box {
    display: flex;
    margin-bottom: 20px;
    
}


.album-box1 h2 {
    color: rgb(30, 200, 200);
    margin-bottom: 50px;
}
.text-content1 {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}


.album-box1 img {
    width: 100%;
}
.album-box1 img:hover,.album-box img:hover {
    opacity: 80%;
}

#albm {
    margin-right: 20px;
}

#first-div,#second-div,#second-div1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 20px;
    text-align: center;
    font-family: Roboto;
    color: gray;
}
#first-div>div,#second-div>div,#second-div1>div  {
    background-color: white;
    border: 1px solid aquamarine;
}
img {
    width: 100%;
}
h2 {
    color: rgb(30, 200, 200);

}

#first-div div p , #second-div div p , #second-div1 div p{
    width: 80%;
    margin: auto;
    padding-bottom: 6.2rem;
    margin-top: 0px;
}
#second-div {
    margin-top: 20px;
}
.btn {
    width: 9%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.btn button {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    font-family: Roboto;
    color: white;
    background-color: orangered;
}

#first-div>div>img:hover,#second-div>div>img:hover,#second-div1>div>img:hover {
    opacity: 80%;
}
h2:hover {
    color: rgb(16, 136, 216);
}
#total-two-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

 .one-box {
    display: flex;
    width: 49%;
    height: 400px;
    border: 1px solid aquamarine;
    background-color: white;
    
 }

 .one-box>img {
    width: 70%;
 }
 
 .inside-one-box {
    font-family: Roboto;
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
 }
 .media-album {
    text-align: center;
    font-family: Roboto;
 }

 .media-album>div {
    border: 1px solid aquamarine;
    margin-bottom: 20px;
 }
 .media-album div p {
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
 }

.media-album {
    display: none;
}

/* media query search bar css */

#search-bar1 {
    display: flex;
    display: none;
    width: 100%;
    padding: 8px 2px 8px 5px;
    margin-right: 10px;
    z-index: 0;
}
#search-bar1 input {
    width: 100%;
    box-sizing: content-box;
    border: 1px solid gray;
    margin-right: 10px;
    border-radius: 10px;
   
}


#search-bar1 button {
    width: 7%;
    position: relative;
    left: 94%;
}

#footer {
    width: 100%;
    font-family: Roboto;
    padding: 3rem;
    
}

.flex {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.flex>div:nth-child(1) p{
    font-weight: bold;
    color: rgb(68, 67, 67);
    
}
.flex>div:nth-last-child(1) p {
    margin-right: 1rem;
}

.flex>div:nth-last-child(1) {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    color: gray;
    font-size: 14px;
}
a {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}
.flex>div>img {
    width: 2.5%;
}

.flex>div p {
    font-size: 13px;
}











@media (max-width: 767px) {
    .discover-content h1 {
        font-size: 4rem;
    }
    .slide-show {
        width: 100%;
    }
    #left-btn,#right-btn {
        display: none;

    }
    .text-content {
        font-size: 1rem;
    }
    .album {
        display: none;
    }
    .media-album {
        display: block;
    }
    #header-nav {
        display: none;
    }
    #navbar .option{
        width: 4.5%;
        display: block;
        margin-right: 10px;
    }
    #search-bar1 {
        display: flex;
        width: 100%;
        padding: 8px 2px 8px 5px;
        margin-right: 10px;
        z-index: 0;
    }
    #search-bar {
        display: none;
    }
    #directory {
        width: 30%;
    }
      #footer {
        padding: 0rem;
    }

    .flex>div:nth-child(2)>a {
        margin-bottom: -10px;
    }
    .flex {
        margin-bottom: 10px;
    }
    

  
    
}

@media (min-width: 768px) and (max-width : 1100px) {
    .album {
        width: 100%;
    }
    
    .album-box1 img {
        width: 60%;
    }
    .album p {
       padding-bottom: 4rem;
       
    }
    .album-box p {
        padding-bottom: 6rem;
    }

    
}






























































/* media queries  work*/


