* {
    font-family: Roboto;
}
body{
    margin: 0;
}
.navbar{
    background-color:#0a438b;
    padding: 1%;
}
.navbar>img{
    margin-left:13%;
    margin-right: 5%;
}
.navbar>a{
    color: white;
    text-decoration: none;
}
.nav{
    flex: 1;
    margin-left: 10%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color:#0059b7;
}
.first{
    height: 450px;
    width: 100%;
    background-image: url('https://cdn.hotelplanner.com/Common/Images/Request/poolbg.jpg');
}
.first p{
    color: white;
    padding: 5% 5% 1% 7%;
}
.first h1{
    color: white;
    margin: 1% 35% 1% 7%;
    font-size: 60px;
}
.first>h2{
    color: #57b3fe;
    font-size: 30px;
    margin: 2% 1% 10% 7%;
}
.second{
    height: 400px;
    width: 70%;
    margin-left: 10%;
}
.second>h2{
    color: #00355f ;
    margin-top: 8%;
}
.second>h1{
    color: #013660;
    font-size: 40px;
}
.sef{
    display: flex;
}
.sef>h1{
    color: #343434;
    margin-left: 1%;
}
.ses{
    display: flex;
    width: 90%;
    height: 150px;
    margin-top: 3%;
}
.fi,.si,.thi{
    margin-right: 2%;
}
.fi img{
    width: 100%;
    width: 100%;
}
.si img{
    width: 100%;
    width: 100%;
}
.thi img{
    width: 100%;
    width: 100%;
}
.third{
    height: 80px;
    width: 100%;
    background-color: #004074;
    margin-top: 12%;
}
.third>h1{
    color: white;
    margin-left: 10%;
    padding-top:1%;
}
.forth{
    display: flex;
    background-color: #f4f4f4;
    height: 80px;
}
.fof{
    margin-left: 10%;
}
.fof>h1{
    color: #333333;
}
.fof>p{
    margin-top:-8%;
    color: #343434 ;
}
.fos>button{
    border: none;
    background-color: #2d6196 ;
    color: white;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 5px;
}
.fos{
    margin-top: 2%;
    margin-left: 2%;
}
.five{
    margin-top: 5%;
    margin-left: 10%;
}
.five>h1{
    color: #013660;
    font-size: 50px;
}
.five p{
    color: #343434 ;
    font-size: 22px;
    line-height: 10px;
}
.six{
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.sixx{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 65%;
}
.sixx>h1{
    color: #013660 ;
    font-size: 50px;
}
.sixx :nth-child(2){
    color:#343434 ;
    font-size: 35px;
}
.sixx>h2{
    color: #343434;
}
.seven{
    border-bottom: 1px solid #cccccc;
}
.one>h1{
    color: #013660;
    font-size: 50px;
}
.one{
    margin-left: 10%;
}
.two{
    margin-left: 10%;
    width: 60%;
    background-color: #f8f8f8;
}
.three{
    margin-left: 10%;
    width: 60%;
    background-color: #f8f8f8;
}
.t>img{
    border-radius: 100%;
    height: 50px;
}
.th>img{
    border-radius: 100%;
    height: 50px;
    margin-left: 2%;
}
.twoinner,.threeinner{
    display: flex;
    margin-left: 2%;
}
.two>h2,.three>h2{
    color: #343434;
}
.tw>h3,.thr>h3{
    margin-left: 20%;
    width: 100%;
    color: #343434;
    margin-top: 2%;
}
.thr>p,.tw>p{
    color:#8f8f8f;
    font-size: 13px;
    margin-top: -20%;
    margin-left: 20%;
    width: 100%;
}
.four{
    margin-left: 10%;
    width: 60%;
    margin-bottom: 5%;
}
.four>p{
    color: #8f8f8f;
}
.footer{
    margin-top: 2%;
    margin-left: 30%;
}
.footer>p{
    margin-left: 5%;
    font-size: 13px;
}
.footer a{
    text-decoration: none;
    color: #0253b7;
}
#popup {
    width: 25rem;
    height: auto; 
    position: fixed;
    left: 70%;
    top: 2rem;
    z-index: 1;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#popup>div:nth-child(1) {
    width: 85%;
    margin: auto;
    margin-top: 1.2rem;
    
}
.mini-pop>div:nth-child(1)>input, #select,button {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1.5px solid gray    ;

}
.mini-pop>div:nth-child(2),.charges1{
    display: flex;
    
}
.mini-pop>div:nth-child(2)>input , .charges1>input, .charges1>select{
    box-sizing: border-box;
    width: 48%;
    padding: 1rem;
    margin-right: 5px;
    border-radius: 5px;
    border: 1.5px solid gray    ;
}
.charges {
    display: flex;
    color:#346ca0;
    justify-content: space-between;
}
button {
    color: white;
    background-color: #689105;
}

#input>input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 1rem;
    margin-right: 5px;
    border-radius: 5px;
    border: 1.5px solid gray;
}

@media (max-width : 768px) {
    #popup {
    position: relative;
   }
   .first {
    height: 65rem;

   }
   .first>h1 {
    width: 90%;
    font-size: 3rem;
    text-align: center;
    margin-bottom: -5rem;
   }
   .first>p, #strong {
    text-align: center;
   }
   .first>h2 {
    color:#57b3fe;
    margin: 15% 2% 15% 15%;
   }
   #popup {
    position: absolute;
    left: 10rem;
    top: 30rem;
   }
   .nav {
    display: none;
   }
   .second {
    width: 100%;
    height: auto;
    margin: auto;
   }
   .second>h1 {
    font-size: 2rem;
    text-align: center;
   }
   .sef {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
   }
   .sef h1 {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
   }
   .ses {
    width: 100%;
   }
   .second h2 {
    text-align: center;
   }
   .third {
    height: auto;
   }

   .third  h1{
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin-bottom: 10px;
   }
   .forth {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
   }
   .fof {
    text-align: center;
    margin-bottom: 20px;
    
   }
   .fof p {
    margin-top: -7px;
   }
   .fos {
    padding: 0px 2px 0px 2px;
    width: 30%;
    margin: auto;
    margin-left: 40%;
   }
   .five , .six {
    width: 100%;
    margin: auto;
    text-align: center;
   }
   .five h1 {
    font-size: 1.5rem;
   }
   .five p{
    font-size: 1rem;
   }

   .sixx {
    width: 100%;
    margin: auto;
   }
   .sixx>h1 {
    font-size: 1.5rem;
   }
   .sixx>p {
    font-size: 1rem;
   }
   #main {
    font-size: 1.1rem;
   }
   .sixx h2 {
    font-size: 1rem;
   }
   .seven {
    width: 100%;
    margin: auto;
    text-align: center;
   }
   .one, .three {
    margin: auto;
    
   }
   .one h1  {
    font-size: 1.5rem;
  
   }
   .two,.three  {
    width: 100%;
    margin: auto;
    font-size: 0.6rem;
   }
   .twoinner,.threeinner {
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
   }
   .four {

    width: 95%;
    margin: auto;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
   }
   .footer {
    margin-top: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
   }

   
   
   

   

}
