@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;1,400;1,500&family=Poppins:wght@300;400;500&family=Roboto:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* 
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
  font-family: Roboto;
}
body {
  width: 1400px;
  font-family: "Nunito", sans-serif;
  margin: 0px;
  text-align: center;
  /* position: relative; */
}
/** section-2 Start */
.header {
  position: fixed;
  background-color: white;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  color: blue;
  z-index: 10;
}
.section-2 {
  display: flex;
  gap: 10px;
}
.section-2 > .backgroudimg > img {
  width: 100%;
}

.section-2 > .travalocity-list {
  width: 54%;
  position: absolute;
  left: 44rem;
  top: 6rem;
  z-index: 1;
}

.section-2 > .travalocity-list > .content > p {
  width: 70%;

  overflow-wrap: break-word;
}
@media (max-width: 3000px) and (min-width: 1200px) {
  .section-2 > .travalocity-list {
    width: 34%;
    position: absolute;
    left: 48rem;
    top: 6rem;
    text-align: left;
    z-index: 1;
  }
}
@media (max-width: 1180px) and (min-width: 800px) {
  .section-2 > .travalocity-list {
    width: 54%;
    position: absolute;
    text-align: left;
    left: 46rem;
    top: 12rem;
    z-index: 1;
  }
}

@media (max-width: 800px) and (min-width: 701px) {
  .section-2 > .travalocity-list {
    width: 54%;
    position: absolute;
    text-align: left;
    left: 48rem;
    top: 8rem;
    z-index: 1;
  }
}
@media (max-width: 700px) and (min-width: 101px) {
  .section-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    justify-content: center;
    align-items: center;
  }
  .section-2 > .travalocity-list {
    margin: auto;

    position: static;
    width: 90%;
  }
  .section-2 > .travalocity-list > .content > p {
    width: 100%;

    overflow-wrap: break-word;
  }
}
/** section-2  End*/

/** section-3 Start */
.section-3 {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 40px;
}

.section-3 > .card-container > h2 {
  color: blue;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.cards > .card-1 {
  width: 100%;
  margin: auto;
  height: 6em;
  border: 2px solid rgb(77, 77, 255);
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  transition:transform .3s ;
}
.cards > .card-1 > .content {
  font-size: 1em;
}
.cards > .c1,
.cards > .c2 {
  cursor: pointer;
}
.card-1>a{
  text-decoration: none;
  color: black;
}
/* .section-3 .card-1:hover{
  transform: scale(1.1);
 
} */

@media (max-width: 3400px) and (min-width: 2000px) {

.section-3 {
    width: 30%;
    position: absolute;
    top: 16rem;
    left: 60rem;
  }
  .cards {
    display: grid;
    grid-template-columns: 28% 28%;
    justify-content: space-around;
    gap: 4em;
  }
  .cards > .card-1 {
    width: 50%;
    height: 8em;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */

    flex-direction: column;
    justify-content: center;
    padding: 70px;
    align-items: center;
    border-radius: 10px;
  }
  .cards > .card-1 > .content {
    text-align: center;
  }
  .section-3 > .card-container > h2 {
    color: blue;
    text-align: left;
    margin-left: 12px;
  }

}
@media (max-width: 2000px) and (min-width: 1400px) {

  .section-3 {
      width: 40%;
      position: absolute;
      top: 16rem;
      left: 50rem;
    }
    .cards {
      display: grid;
      grid-template-columns: 28% 28%;
      justify-content: space-around;
      gap: 4em;
    }
    .cards > .card-1 {
      width: 50%;
      height: 8em;
      margin: auto;
      display: flex;
      /* flex-wrap: wrap; */
  
      flex-direction: column;
      justify-content: center;
      padding: 70px;
      align-items: center;
      border-radius: 10px;
    }
    .cards > .card-1 > .content {
      text-align: center;
    }
    .section-3 > .card-container > h2 {
      color: blue;
      text-align: left;
      margin-left: 12px;
    }
  
  }
@media (max-width: 1400px) and (min-width: 1220px) {
  .section-3 {
    width: 40%;
    position: absolute;
    top: 16rem;
    left: 42rem;
  }
  .cards {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
  }
  .cards > .card-1 {
    width: 30%;
    height: 8em;
    margin: auto;
    display: flex;

    flex-direction: column;
    justify-content: center;
    padding: 70px;
    align-items: center;
    border-radius: 10px;
  }
  .cards > .card-1 > .content {
    text-align: center;
  }
  .section-3 > .card-container > h2 {
    color: blue;
    text-align: left;
    margin-left: 12px;
  }
}
@media (max-width: 700px) and (min-width: 500px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
@media (max-width: 600px) and (min-width: 10px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .cards > .card-1 {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    align-items: center;
    border-radius: 10px;
  }
  .cards > .card-1 > .content {
    text-align: center;
  }
}

/** section-3  End*/

/** section-4  Start*/
.section-4 {
  width: 80%;
  margin: auto;
  margin-top: 8rem;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
}
.section-4 > div {
  margin-bottom: 2rem;
}

.section-4 > div > img {
  width: 120px;
}

@media (max-width: 1400px) and (min-width: 1000px) {
  .section-4 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .section-4 > .content-1 {
    width: 68%;
    margin: auto;
    margin-bottom: 1rem;
    grid-column: 1/4;
  }
}
/** section-4  End*/

/** section-5  Start*/

.section-5 {
  width: 100%;
  margin: auto;
  text-align: center;
}
.section-5 > div {
  padding: 1rem;
  text-align: center;
}
.section-5 > div > img {
  /* border: 1px solid red; */
  margin: auto;
  text-align: center;
  width: 144px;
  height: 80px;
}

@media (max-width: 1100px) and (min-width: 480px) {
  .section-5 > div > img {
    width: 174px;
    height: 80px;
  }
}
@media (max-width: 400px) and (min-width: 10px) {
  .section-5 > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section-5 > div > img {
    width: 124px;
    height: 40px;
  }
}
/** section-5  End*/

/** section- 6 Start*/

.section-6 {
  width: 90%;
  margin: auto;
  padding: 1rem;
}
.section-6 > div {
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
}
.section-6 > .content-2 {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.section-6 > .content-2 > div > img {
  width: 8rem;
}
@media (max-width: 800px) and (min-width: 10px) {
  .section-6 > .content-2 {
    display: flex;
    flex-wrap: wrap;
  }
}
/** section-6  End*/

/** section-7  Start*/
.section-7 {
  background-color: rgb(243, 243, 243);
  padding: 2rem;
}

.section-7 > a > button {
  background-color: rgb(0, 0, 129);
  width: 150px;
  height: 50px;
  border-radius: 0.2rem;
  border: none;
  color: white;
  cursor: pointer;
}
.section-7 > a > button:hover {
  width: 180px;
  height: 60px;
  transition: 0.2s ease-in-out;
}

/** section-6  End*/

/** section-8  Start*/
.section-8 {
  background-color: blue;
  color: white;
  padding-bottom: 2rem;
}
.section-8 a {
  color: white;
  text-decoration: none;
  width: 100%;
}
.section-8 > .footer-1 {
  width: 80%;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section-8 > .footer-1 > div {
  margin-top: 2rem;
  width: 60%;
  text-align: center;
}

.section-8 > .footer-1 a:hover {
  color: rgb(255, 255, 255);

  font-size: 1.5rem;
  transition: 0.4s ease-in-out;
}
.section-8 > .footer-1 > .content-3 > p {
  font-size: 0.8rem;
}
.section-8 > .footer-1 > .content-3 > a > img {
  width: 80%;
}
ul {
  list-style: none;
}
li {
  padding: 0.8rem;
}

@media (max-width: 950px) and (min-width: 10px) {
  .section-8 > .footer-1 {
    width: 80%;
    margin: auto;
    text-align: center;
    display: grid;
    gap: 0.1rem;
    grid-template-columns: 1fr;
  }
  .section-8 > .footer-1 > div {
    width: 90%;
    margin: auto;
    /* text-align: center; */
  }
  .section-8 > .footer-1 > .content-3 > a > img {
    width: 60%;
  }
  .content-3 > p {
    width: 100%;
  }
}

.footer-2 > div {
  font-size: 0.8rem;
  
  margin-bottom: 1rem;
}
.footer-2 > div:before {
  display: block;
  content: "";
  border: 1px solid #5252ff;
  width: 100%;
}
.footer-2 > div a:hover {
  font-size: 1rem;
  color: aliceblue;
  transition: 0.2s ease-in-out;
}
/** section-8  End*/
/* ?Common hover effect */

img{
  transition:transform 0.3s;
  
}
img:hover{
  transform: scale(1.1);
  }
 