* {
    font-family: Roboto;
}

.navbar {
    height: 60px;
    background-color: #0a438b;
    width:100%;
    margin: auto;
    text-decoration: none;
    padding-top: 10px;
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template: "box1 box2 box3 box4 box5 box6 box7 ";

}

.navLogo {
    grid-area: box1;
    margin-top: 0px;
    margin-left: 30px;
    

}

.navA1 {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 16px;
    grid-area: box3;
    

}
.navA2 {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 16px;
    grid-area: box4;
    


}.navA3 {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 16px;
    grid-area: box5;

    

}.navA4 {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 16px;
    grid-area: box6;
    


}


.navDropbtn {
    background-color:transparent;
    color: white;
    border-color: #0a438b;
    padding: 16px;
    font-size: 16px;
    border: none;
    /* cursor: pointer; */
    border: none;
    text-decoration: none;

}



.navDropdown {
    grid-area: box2;
    

    position: relative;
    display: inline-block;
}

.navDropdown_cont {
    display: none;
    position: absolute;
    background-color: white;
    width: 400px;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

.navDropdown_cont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.navShow {
    display: block;
}






.signinBtn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border: none;
}



.Signin {
    position: relative;
    grid-area: box7;
    

}

.Signin-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 350px;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    left: auto !important;
    right: 0 !important;
}

.Signin-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.go_to_signin {
    height: 20px;
    width: 250px;
    background-color: #0d5ab9;
    text-decoration: none;
    margin: auto;
    border-radius: 10px;
    font-size: 16px;
}

#color_white {
    color: white;
    text-align: center;
}

#color_blue {
    color: #0d5ab9;
}

.go_to_create_account {
    text-align: center;
}

.go_to_signin:hover {
    background-color: #466ea0;

}

.h4_margin,
.a_margin {
    margin: 10px;
    margin-left: 35px;
}

.signinShow {
    display: block;
}


@media only screen and (max-width: 760px) {
    .navbar {
        grid-template: "box1 box2 box6 box7";
    }
    .navLogo{
        margin-top: 0px;
        margin-left: 10px;

    }
    .Signin{
        text-align: right;
    }
    .navA1,.navA2,.navA3,.navA4{
        display: none;
    }
}